body {
    background-color: white;
    color: #444444
}

.nav-list {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    }

li {
    display: inline-block;
}

li a{
    color: white;
    display: block;
    padding: 14px 16px;
}
li a:hover {
    background-color: red;
}

img {
    height: 268px;
    width: 268px;
}

main {
    display: flex;
    justify-content: flex-start;
}
h2 {
    text-align: center;
}
.Egg {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    
}

.cardhead {
    font-family: cursive;
    background-color: mediumorchid;
}
.card {
    border: 1px solid lightblue;
    flex: 0 0 30.3%
    box-shadow: 2px 2px black;
    margin: 20px;
    align-content: center;
}

.card p {
    text-align: justify;
    width: 268px;
    padding: 20px;
}
.availability {
    background-color: #333;
    color: yellow;
    height: 30px;
    text-align: center;
    padding: 0em;
}

.specs {
    color: #222
    height: 10px;
    padding: 20px;
}

.dimensions {
    color: #333
    padding: 0px;
    text-align: center;
}