body {
    background-color: white;
    color: #444444
}
main {
    font-family: 'Gelasio', serif;
}

.title {
    text-align: center;
}
.nav-list {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    }

li {
    display: inline-block;
}

li a{
    color: white;
    display: block;
    padding: 14px 16px;
}
li a:hover {
    background-color: red;
}

img {
    height: 15em;
    width: 15em;
    
}

h2 {
    text-align: center;
}
.Egg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-grow: 1;
    z-index: 0;
}

.sold-out img {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    position: absolute;
    padding-left: 54.5em;
    padding-top: 6em;
    width: 22em;

}

.cardhead {
    background-color: mediumorchid;
    height: 4em;
}
.card {
    border: 1px solid lightblue;
    flex: 0 0 28.3%;
    box-shadow: 2px 2px black;
    margin: 13px 13px;
    text-align: center;
}

.card p {
    text-align: left;
    width: 22em;
    margin: 0 0;
    padding-left: 1em;
    font-size: 14px;
}
.availability {
    background-color: #333;
    color: yellow;
    height: 30px;
    text-align: center;
}

.specs {
    color: #222;
    height: 10px;
    padding:0 0;
}

.dimensions {
    color: #333;
    padding: 0px;
    text-align: center;
}

.invalid {
    text-align: center;
}

.pricing small {
    text-align: center;
}